@model IEnumerable<TalkletWords.Models.MLU>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    MUL Range
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLUFrom) - @Html.DisplayFor(modelItem => item.MLUTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MLUId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MLUId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MLUId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <p>
        <small>
            Center for Speech and Language Pathology: "Early Morphological Development"
        </small>
    </p>
