@model TalkletWords.Models.Word

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="WordId" />
        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WordType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WordType.WordTypeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
