@model PaginatedList<TalkletWords.Models.Word>

@{
    ViewData["Title"] = "Index";
}

<h2>Words</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        Show All @Html.CheckBox("showAll", false)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordType)
            </th>*@

            <th>
                Definition
            </th>
            <th>
                Average
            </th>
            <th>
                Category
            </th>
            <th>
                Word Type
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WordId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WordId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WordId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
    <p>
        <small>
            Stanford Wordbank, Vocabulary Norms, Gestures and Words (8-18 months), Words and Sentences (16-30 months)<br />
            http://wordbank.stanford.edu/analyses?name=vocab_norms
        </small>
</p>
